body {
	margin: 0;
}

canvas {
	display: block;
}

.info {
	color: #FFF;
	position: absolute;
	padding: 20px 0 0 20px;
}

a {
	color: inherit;
}

label {
	cursor: pointer;
}

.ruler {	
	pointer-events: none;	
	position: absolute;	
	top: 0;	
	left: 0;	
	right: 0;	
	bottom: 0;	
	background: url( "./ruler.png" ) no-repeat 0 0;	
}
